<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 쓰기</title>
    <link rel="stylesheet" th:href="@{/css/Board.css}">
</head>
<body>
<h1>글 쓰기</h1>
<form th:action="@{/board/write}" th:object="${board}" method="post">
    <table>
        <tr>
            <th>작성자</th>
            <td><input type="text" th:field="*{name}" /></td>
        </tr>
        <tr>
            <th>제목</th>
            <td><input type="text" th:field="*{title}" /></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea th:field="*{content}"></textarea></td>
        </tr>
        <tr>
            <th>암호</th>
            <td><input type="password" th:field="*{password}" /></td>
        </tr>
    </table>
    <button type="submit">등록</button>
</form>
<a href="/board/list">목록으로</a>
</body>
</html>
